.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.input {
  position: absolute;
  margin: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.indicator {
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--colors-black-400);
  border-radius: 50%;
}

.input:checked + .indicator {
  content: url("./check.svg");
  background: var(--colors-accent-500);
  border-color: var(--colors-accent-500);
}

.input:focus-visible + .indicator {
  outline: solid 2px var(--colors-accent-500);
  outline-offset: 2px;
}

.label {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--colors-black-100);
}

.checkbox.disabled {
  opacity: 0.5;
}

.input:disabled {
  cursor: not-allowed;
}

.input[aria-invalid="true"] + .indicator {
  border-color: var(--colors-error-500);
}

.input[aria-invalid="true"]:checked + .indicator {
  background: var(--colors-error-500);
}
