.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  width: fit-content;
  margin-bottom: 6px;

  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--colors-black-300);
}

.message {
  margin: 0;
  margin-top: 6px;

  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--colors-black-400);
}

.message.error {
  color: var(--colors-error-400);
}
