.button {
  height: 48px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-width: 164px;

  background: var(--colors-accent-500);
  border-radius: 6px;
  padding: 0 10px;
  transition: background 0.3s;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--colors-black-900);
  cursor: pointer;
}

.button:hover {
  background: var(--colors-accent-400);
}

.button:disabled {
  background: var(--colors-black-700);
  color: var(--colors-black-400);
  cursor: not-allowed;
}

.button:focus-visible {
  outline: solid 2px var(--colors-accent-500);
  outline-offset: 2px;
}
