.button {
  height: 48px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-width: 164px;

  background: #ec5990;
  border-radius: 6px;
  padding: 0 10px;
  transition: background 0.3s;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background: #494a56;
  pointer-events: none;
}

.button:focus-visible {
  outline: 1px solid white;
}
