.button {
  height: 48px;
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-width: 164px;
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
}

.button:disabled {
  cursor: not-allowed;
}

.button:focus-visible {
  outline: solid 2px var(--colors-accent-500);
  outline-offset: 2px;
}

/* Solid */
.solid {
  background: var(--colors-accent-500);
  color: var(--colors-black-900);
}

.solid:hover {
  background: var(--colors-accent-400);
}

.solid:disabled {
  background: var(--colors-black-700);
  color: var(--colors-black-400);
}

/* Outlined */
.outlined {
  background: none;
  border: 1.5px var(--colors-black-100) solid;
  color: var(--colors-black-100);
}

.outlined:hover {
  border-color: var(--colors-black-300);
  color: var(--colors-black-300);
}

.outlined:disabled {
  border-color: var(--colors-black-500);
  color: var(--colors-black-500);
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
